* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

html {
    font-size: 1em;
}

.flndl_h_50 {
    height: 100px;
}

.flndl_border-b-3 {
    border-bottom: 3px solid silver;
}

.flndl_shadow-b-3-silver {
    box-shadow: 3px 0px 3px blue;
}

.flndl_margin-b-20 {
    margin-bottom: 20px;
}

.flndl_bg-green {
    background-color: green;
    box-shadow: 0px 0px 3px rgb(241, 188, 188);
}

.hot-item {
    border-bottom: 2px solid yellow;
}

.hot-link {
    color: yellow !important;
}

.notice_it::after {
    content: "*";
    color: red;
}

.nav-link {
    color: white !important;
    text-shadow: 2px 0px 2px black;
    padding: 20px;
}

.nav-link:hover {
    color: yellow;
    text-shadow: 2px 0px 2px red;
}

.dropdown-menu {
    background-color: rgb(92, 92, 92);
}

.custom-bg-primary {
    background-color: #000080 !important;
}

.custom-bg-secondary {
    background-color: #00adef !important;
}

.custom-bg-danger {
    background-color: #ec1b23 !important;
}

.custom-bg-success {
    background-color: #008000 !important;
}

.custom-text-primary {
    color: #000080 !important;
}

.custom-text-secondary {
    color: #00adef !important;
}

.custom-text-danger {
    color: #ec1b23 !important;
}

.custom-text-success {
    color: #008000 !important;
}

.custom-text-gold {
    color: #ffd700 !important;
}

.custom-text-shadow {
    text-shadow: 2px 2px 2px #000;
}

.custom-box-shadow {
    box-shadow: 2px 2px 2px #000;
}

.custom-h1 {
    font-size: 1.8rem;
}

.dropdown-menu {
    width: 250px;
}